@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, figure, figcaption, code, del, dfn, em, image, q, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, tf, tr, th {
	border: 0px;
	padding: 0px;
	/*font-size: 100%;*/
	margin: 0px;
	font-family: 'Microsoft Yahei',"Lucida Grande", "Tahoma","Arial", "Helvetica", "sans-serif";
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight:normal;
}
body {
	background-color:#f4f4f4;
	line-height: 20px;
	font-size: 12px;
	font-family:'Microsoft Yahei',"Lucida Grande", "Tahoma","Arial", "Helvetica", "sans-serif";
	margin: 0px;
}
input, textarea, select {
	font-family: 'Microsoft Yahei',"Lucida Grande", "Tahoma","Arial", "Helvetica", "sans-serif";
	background-color: #FFFFFF;
	font-size:12px;
	outline:none;
}
img {
	border: 0px;
	vertical-align:bottom;
	-ms-interpolation-mode: bicubic;
}
a, a:link {
	text-decoration: none;
}
a:hover {
	text-decoration:none;
	color:#8c0000;
}
ul, li {
	list-style-type:none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear{
     clear:both;
     }
/*header*/
.header{
	width:100%;
	height:100px;
	background:url(../img/zhuye/header_bj.gif) center center no-repeat #FFF;
	}
.header .top{
	width:1400px;
	margin:0px auto;
	overflow:hidden;
	}
.header .logo{
        width:344px;
	margin-left:129px;
	}
.header .en{
	height:30px;
	}
.header .en a{
	font-size:14px;
	color:#3f3f3f;
	line-height:30px;
	margin-right:10px;
	}
.header .en a.red{
	color:#ff3400;
	}
.header .search{
	width:267px;
	}
.searchCon{
        font-family:"宋体";
        font-size:12px;
        color:#888888;
	width:203px;
	height:23px;
        line-height:23px;
	border:1px solid #d1d1d1;
        text-indent:5px;
	}
.searchMenu{
	width:60px;
	height:23px;
	background:url(../img/zhuye/searchMenu_10.gif) no-repeat;
	cursor:pointer;
	border:0px none;
	outline:none;
	margin-top:2px;
	}
/*header*/

/*nav*/
.nav_menu{
	width:100%;
	height:36px;
	background:#1596e3;
	}
.nav #nav{
	width:1130px;
	margin:0px auto;
	list-style:none;
}
.nav_menu .nav li {
	float:left;
	_display:inline;
	z-index:999;
	zoom:1;
}
.nav_menu .nav li a {
	font-size:15px;
	color:#FFF;
	line-height:36px;
	padding:0 25px;
	display:block;
        cursor:pointer;
}
.ok:hover{
        font-size:15px;
	color:#1596e3;
	line-height:36px;
	padding:0 25px;
	display:inline-block;
	background:#fff;
        cursor:pointer;
         }
.nav_menu .nav li a:hover, .nav_menu .nav li a.hover {
    font-size:15px;
	color:#1596e3;
	line-height:36px;
	padding:0 25px;
	display:block;
	background:#fff;
        cursor:pointer;
}

#nav .minfoWrap {
	position:absolute;
	background:none;
	border-top: 0px solid #8c0000;
	left:0%;
	width:100%;
	z-index:99999;
	padding:2em 0;
	display:none;
	height:150px;
}
#nav .minfoWrap a{
color:#000;
}
#nav .minfoWrap_inner {
  width: 1130px;
  margin: 0 auto;
}
#nav .minfoWrap_inner ul li{
  float:left;
  background:none;
  white-space:nowrap;
   padding:10px;
}
#nav .minfoWrap_inner ul li a{
	font-size:14px;
	color:#000;
  background:none;

}
#nav ul li {
	float:none;
	display:block;
	padding:0;
	margin:0;
}
#nav ul li a {
	background:#fff;
	line-height:24px;
	font-size:14px;
	color:#565656;
	padding:0 0 0 0px;
}
#nav ul li a:hover {
	color:#8c0000;
}	
/*nav*/

/*banner*/
.sliderContainer {
	width:1400px;HEIGHT:377px; PADDING: 0px; position:absolute;
}
.iosSlider {
	OVERFLOW: hidden; HEIGHT: 100%; WIDTH: 100%; POSITION: relative; LEFT: 0px; TOP: 0px
}
.iosSlider .slider {
	HEIGHT: 100%; WIDTH: 100%
}
.iosSlider .slider .item {
	MAX-WIDTH: 1400px; HEIGHT: 100%; WIDTH: 100%; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.iosSlider .slider .item .inner {
	HEIGHT: 100%; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; POSITION: relative; BACKGROUND-POSITION: 50% 0px; LEFT: 0px; MARGIN: 0px auto; TOP: 0px; 
}
.iosSlider .slider .item .inner IMG {
	WIDTH: 100%; POSITION: relative; LEFT: 0px; MARGIN: 0px auto; TOP: 0px
}
.iosSlider .slider .item .inner .text1 SPAN {
	FONT-SIZE: 24px; FONT-FAMILY: "Microsoft Yahei"; FONT-WEIGHT: 700; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; LINE-HEIGHT: 50px; PADDING-RIGHT: 8px
}
.sliderContainer .slideSelectors {
	position:relative;
	z-index:1;
}
.sliderContainer .slideSelectors ul{
	position:absolute;
	bottom:15px;
	z-index:5;
	right:200px;
	overflow:hidden;
}
.sliderContainer .slideSelectors ul li{
	float:left;
	margin-right:8px;
	width:11px;
	height:11px;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	background:#fff;
	z-index:99;
	display:block;
	cursor:pointer;
}
.sliderContainer .slideSelectors ul li.item {
	margin-right:8px;
	width:11px;
	height:11px;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	background:#fff;
	z-index:99;
	display:block;
	cursor:pointer;
}
.sliderContainer .slideSelectors ul li.selected {
	 background:#ed5565;
}

.banner{
	width:1400px;
	height:377px;
	margin:1px auto;
	overflow:hidden;
	position:relative;
	}
.banner_txt{
	width:100%;
	height:46px;
	background:#000;
	opacity:0.25;
        filter:Alpha(opacity=25);
	position:absolute;
        color:#ffffff;
	top:331px;
        left:0;
	z-index:2;
        
	}
.slider span{
	width:100%;
	height:46px;
	text-indent:130px;
	position:absolute;
	top:331px;
        left:0;
	display:block;
	z-index:3;
	}
.slider span a{
	font-size:20px;
	color:#ffff00;
	line-height:46px;
	float:left;
	}
/*banner*/

/*main*/
.main{
	width:1200px;
	height:auto;
	margin:0px auto;
	background:#FFF;
	overflow:hidden;
	}
.main_left{
	width:1031px;
	height:auto;
	overflow:hidden;
	}
.news{
	width:492px;
	height:186px;
	padding:22px 0 0 12px;
	}
.news_nav{
	width:100%;
	height:24px;
	background:url(../img/zhuye/news_nav_bj.gif) no-repeat;
	}
.news_nav ul{
	list-style:none;
	overflow:hidden;
	}
.news_nav ul li{
	float:left;
	margin-right:10px;
	}
.news_nav ul li.normaltab a{
	font-size:15px;
	color:#3f3f3f;
	line-height:24px;
	padding:0 6px;
	display:block;
	}
.news_nav ul li.curr a{
	font-size:15px;
	color:#b01818;
	font-weight:bold;
	line-height:24px;
	padding:0 6px;
	background:url(../img/zhuye/news_nav_hov.gif) repeat-x;
	display:block;
	}
.dis{
	display:block;
	margin:0px;
	padding:0;
	}
.undis{
	display:none;
	margin:0px;
	padding:0;
	}
.news_list li{
	width:100%;
	float:left;
	margin-top:11px;
	background:url(../img/zhuye/jiantou.gif) 5px center no-repeat;
	}
.news_list li a{
	font-family:"宋体";
	font-size:14px;
	color:#333333;
	float:left;
	padding-left:18px;
	}
.news_list li span{
	font-family:"宋体";
	font-size:14px;
	color:#878787;
	float:right;
	}
.rcpy{
	width:996px;
	height:75px;
	margin:4px 0 0 12px;
	}
.rcpy_nav{
	font-size:15px;
	color:#b01818;
	line-height:25px;
	text-indent:10px;
	width:100%;
	height:25px;
	border-bottom:1px solid #999999;
	}
.rcpy_list img{
        width:115px;
        }
.rcpy_list ul{
	list-style:none;
	}
.rcpy_list ul li{
	float:left;
	margin:7px 0 0 9px;
	}
.main_right{
	width:168px;
	height:auto;
	margin-top:18px;
	overflow:hidden;
	border-left:1px solid #0d59a7;
	}
.main_right ul li{
	width:100%;
	text-indent:40px;
	}
.main_right ul li a{
	font-family:"宋体";
	font-size:14px;
	color:#666666;
	line-height:34px;
	}
.main_right ul li.msjt{
	background:url(../img/zhuye/msjt.gif) 17px center no-repeat;
	}
.main_right ul li.mszx{
	background:url(../img/zhuye/mszx.gif) 15px center no-repeat;
	}
.main_right ul li.jpkc{
	background:url(../img/zhuye/jpkc.gif) 17px center no-repeat;
	}
.main_right ul li.jxsp{
	background:url(../img/zhuye/jxsp.gif) 15px center no-repeat;
	}
.main_right ul li.fzjx{
	background:url(../img/zhuye/fzjxpt.gif) 15px center no-repeat;
	}
.main_right ul li.xdyc{
	background:url(../img/zhuye/xdycjypt.gif) 15px center no-repeat;
	}
.main_right ul li.eyts{
	background:url(../img/zhuye/eyts.gif) 15px center no-repeat;
	}
.main_right ul li.tsqb{
	background:url(../img/zhuye/tsqb.gif) 17px center no-repeat;
	}
.kstd{
	font-size:15px;
	color:#3f3f3f;
	line-height:27px;
	text-indent:10px;
	width:1158px;
	height:27px;
	margin:11px 0 0 12px;
	border-bottom:1px solid #999999;
	}
.kstd_list{
	margin:11px 0 0 12px;
	}
.kstd_list ul{
	list-style:none;
	}
.kstd_list ul li{
	float:left;
	margin:15px 7px;
	text-indent:11px;
	background:url(../img/zhuye/dian.gif) left center no-repeat;
	}
.kstd_list ul li a{
	font-family:"宋体";
	font-size:14px;
	color:#4b4b4b;
	}
.clear10{
	width:100%;
	height:10px;
	clear:both;
	}
.f_blue{
	width:100%;
	height:42px;
	overflow:hidden;
	background:#1596e3;
	border-bottom:1px solid #167cb9;
	}
.m_blue{
	width:1200px;
	margin:0px auto;
	overflow:hidden;
	}
.friendlink{
	width:auto;
	height:31px;
	overflow:hidden;
	margin-top:7px;
	}
.friendlink span{
	font-size:16px;
	color:#eaeaea;
	width:97px;
	height:31px;
	float:left;
	text-align:center;
	display:block;
	line-height:31px;
	border-right:1px solid #0e72aa;
	}
.line{
	width:1px;
	height:100%;
	float:left;
	background:#21aaf5;
	}
.select{
	font-family:"宋体";
	font-size:12px;
	color:#1e3e52;
	width:182px;
	height:19px;
	float:left;
	margin:6px 10px 0 19px;
	background:#c4e5f8;
	border:1px solid #597a8d;
	text-align:center;
	}
.wsbg{
	width:auto;
	height:31px;
	float:left;
	overflow:hidden;
	margin-top:7px;
	margin-left:50px;
	border-left:1px solid #0e72aa;
	}
.wsbg ul{
	list-style:none;
	float:left;
	overflow:hidden;
	}
.wsbg ul li{
	float:left;
	text-indent:22px;
	margin:0 10px 0 10px;
	}
.wsbg ul li a{
	font-family:"宋体";
	font-size:14px;
	color:#eaeaea;
	line-height:31px;
	}
.wsbg ul li.jwgl{
	background:url(../img/zhuye/jwgl.gif) left center no-repeat;
	}
.wsbg ul li.cwcx{
	background:url(../img/zhuye/cwcx.gif) left center no-repeat;
	}
.wsbg ul li.bggl{
	background:url(../img/zhuye/bggl.gif) left center no-repeat;
	}
.wsbg ul li.qkbg{
	background:url(../img/zhuye/qkbg.gif) left center no-repeat;
	}
/*main*/

/*footer*/
.footer{
	width:100%;
	height:76px;
	text-align:center;
	background:url(../img/zhuye/footer_bj.gif) repeat-x;
	}
.footer p{
	font-family:"宋体";
	font-size:14px;
	color:#404040;
	line-height:24px;
	}
.footer table{
        width:1200px; 
        margin:0 auto; 
        }
/*footer*/

/*列表页*/
.channel_banner{
	width:1400px;
	height:282px;
	margin:1px auto;
	}
.channel_main{
	width:1200px;
	height:auto;
	background:#FFF;
	margin:0px auto;
	overflow:hidden;
	}
.w255{
	width:255px;
	min-height:702px;
	margin-left:2px;
	}
.w255_auto{
	vertical-align:top;
	background:url(../img/zhuye/w255_bj.png) left bottom no-repeat #eaeaea;
	}
.w255_nav{
	font-size:24px;
	color:#fff;
	width:100%;
	height:73px;
	background:#ae1c1c;
	text-indent:30px;
	line-height:73px;
	border-bottom:1px solid #fff;
	}
.w255 ul li{
	text-indent:35px;
	}
.w255 ul li a{
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:46px;
	width:100%;
	height:46px;
	display:block;
	border-bottom:1px solid #fff;
	}
.w255 ul li a:hover{
	color:#fff;
	background:#666666;
	}
.w255 ul li .hover{
	color:#fff;
	background:#666666;
	}
.w927{
	width:927px;
	height:auto;
	margin-left:12px;
	border:1px solid #e8e8e8;
	border-bottom:none;
	}
.w927 .position{
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:51px;
	width:100%;
	height:51px;
	background:#f8f8f6;
	border-bottom:1px solid #e8e8e8;
	}
.w927 .position span{
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:51px;
	float:right;
	margin-right:25px;
	}
.w927 .position span a{
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:51px;
	}
.search_msg{
        display:block;
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:51px;
        margin-left:25px;
	}
.search_msg span{
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:51px;
	}
.red{color:#F00;font-weight: bold;}
dl.sslist{margin-left:25px;border-bottom:1px dashed #ccc; line-height:1.8em; padding:10px 0 10px;}
dl.sslist dt{height:30px;}
dl.sslist dt span a,dl.list3 dt span a:visited{font-family:"宋体";font-size:14px; color:#ff3300;}
dl.sslist dt a,dl.list3 dt a:visited{font-family:"宋体";font-size:14px; color:#0033FF;}
dl.sslist dt a:hover{font-size:14px; color:#ff3300;}
dl.sslist dd{font-family:"宋体";color:#000;}
dl.sslist dd a{font-family:"宋体";}
dl.sslist dd.zy{font-family:"宋体";height:50px; text-indent:20px; text-indent:20px; color:#999; overflow:hidden;}
.w927 h1{
	font-size:20px;
	color:#ae1c1c;
	line-height:50px;
	text-indent:30px;
        text-align:center;
	width:100%;
	height:50px;
	border-bottom:1px solid #e8e8e8;
	}
.channel_content{
	font-family:"宋体";
	font-size:14px;
	color:#000333;
	line-height:28px;
	width:880px;
	min-height:598px;
	margin:0px auto;
	}
.c1-bline{
	border-bottom:#999 1px dashed;
	border-top:1px;
	}
.c1-bline a, span{
	font-family:"宋体";
	font-size:14px;
	color:#333333
	}
.c1-bline .gray{
	font-family:"宋体";
	font-size:12px;
	color:#333333
	}
.img-vm{
	vertical-align:middle
	}
.pagesite{
        margin-left:25px;
        display:block;
        font-family:"宋体";
	font-size:12px;
	color:#333333
        }
.pagesite a{
        font-family:"宋体";
	font-size:12px;
	color:#333333
        }
/*列表页*/

/*内容页*/
.content_main{
	width:1200px;
	height:auto;
	background:#FFF;
	margin:0px auto;
	overflow:hidden;
	}
.content{
	width:1194px;
	height:auto;
	border:1px solid #e8e8e8;
	border-bottom:none;
	margin:0px auto;
       
	}
.content img{
	max-width:70%;
	}
.content .position{
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:50px;
	width:100%;
	height:50px;
	background:#f8f8f6;
	border-bottom:1px solid #e8e8e8;
	}
.content .position span{
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:50px;
	float:left;
	margin-left:25px;
	}
.content .position span a{
	font-family:"宋体";
	font-size:14px;
	color:#2a2a2a;
	line-height:50px;
	}
.content h1{
	font-family:"宋体";
	font-size:31px;
	color:#0232ab;
	line-height:50px;
	text-align:center;
	width:1065px;
        margin:0px auto;
	height:auto;
	}
.content h2{
	font-family:"宋体";
	font-size:14px;
	color:#4b4b4b;
	line-height:37px;
	text-align:center;
	width:1065px;
	height:37px;
	margin:0px auto;
	background:#f8f8f6;
	border:1px solid #e8e8e8;
	}
.txt{
	font-family:"宋体";
	font-size:14px;
	color:#4a4a4a;
	line-height:28px;
	width:1106px;
	min-height:598px;
	margin:0px auto;
	margin-top:30px;
        padding-bottom:30px;
        /*text-indent:2em;*/
	}
.c_next{
       width:1106px;
       margin:0px auto;
       margin-bottom:20px;
       border-top:1px solid #ccc; 
       padding:10px 0;
       }
.c_next ul li{
       margin-top:5px;
       }
.c_next ul li a{
       color:#000333;
       }
/*内容页*/

/*领导信箱*/
.ldxx{
	width:925px;
	height:auto;
	margin:0 auto;
	margin-top:1px;
	}
.ldxx td{
	font-family:"宋体";
	}
.ldxx_sc{
	font-size:12px;
	width:274px;
	height:26px;
	border:1px solid #c2c2c2;
	border-right:none;
	color:#666;
	text-indent:5px;
	outline:none;
	vertical-align:middle;
	float:left;
	}
.ldxx_sm{
	font-family:"宋体";
	font-size:12px;
	width:56px;
	height:30px;
	border:1px solid #c2c2c2;
	background:#f0e5c1;
	color:#3c3c3c;
	text-align:center;
	outline:none;
	cursor:pointer;
	vertical-align:middle;
	float:left;
	}
.ldxx_list ul li{
	background:url(../img/zhuye/dian_2.gif) 5px center no-repeat;
	text-indent:15px;
	line-height:30px;
	}
.ldxx_list ul li a{
	font-family:"宋体";
	font-size:14px;
	color:#3c3c3c;
	}
.wyxx_sc{
	font-size:12px;
	width:304px;
	height:26px;
	border:1px solid #c2c2c2;
	color:#666;
	text-indent:5px;
	outline:none;
	vertical-align:middle;
	float:left;
	}
.wyxx_te{
	font-size:12px;
	width:354px;
	height:211px;
	border:1px solid #c2c2c2;
	color:#666;
	text-indent:5px;
	outline:none;
	vertical-align:middle;
	float:left;
	}
.wyxx_tj{
	font-family:"宋体";
	font-size:14px;
	width:86px;
	height:30px;
	border:none;
	background:#e31515;
	color:#fff;
	text-align:center;
	outline:none;
	cursor:pointer;
	vertical-align:middle;
	float:left;
	margin-left:150px;
	}
.wyxx_cz{
	font-family:"宋体";
	font-size:14px;
	width:86px;
	height:30px;
	border:none;
	background:#737373;
	color:#fff;
	text-align:center;
	outline:none;
	cursor:pointer;
	vertical-align:middle;
	float:left;
	margin-left:45px;
	}
/*领导信箱*/

.jgsz td{
  font-family:"宋体";
  font-size:12px;
  color:#000;
   }
#nav .minfoWrap_inner .dzgl ul{
  margin-right:-20px;
   }
#nav .minfoWrap_inner .dzgl ul li{
  float:left;
  white-space: nowrap;
  padding:0 15px 0 0;
   }
#nav .minfoWrap_inner .dzgl ul li a{
  font-family:"宋体";
  font-size:12px;
  color:#000;
   }
#nav .minfoWrap_inner .dzgl ul li a:hover{
  color:#b01818;
   }
#nav .minfoWrap_inner .jxyx ul{
  margin-right:-30px;
   }
#nav .minfoWrap_inner .jxyx ul li{
  float:left;
  white-space: nowrap;
  padding:0 10px 0 0;
   }
#nav .minfoWrap_inner .jxyx ul li a{
  font-family:"宋体";
  font-size:12px;
  color:#000;
   }
#nav .minfoWrap_inner .jxyx ul li a:hover{
   color:#b01818;
   }

.xyfg{
	margin-bottom:20px;
	}
.xyfg img{
	width:205px;
	height:150px;
	border:none;
	}
.xyfg td{
	font-family:"宋体";
	font-size:12px;
	color:#000;
	text-align:center;
	}

/*飘窗*/
#pop{font-size:12px; position:fixed;bottom:0;right:0px; z-index:99999}
#popHead{line-height:32px;background:#f6f0f3;border-bottom:1px solid #e0e0e0;font-size:12px;padding:0 0 0 10px;}
#popHead #popClose{width:40px; height:30px;position:absolute;right:0px;top:0px; display:block; background:#fff; text-align:center;}
#popHead a#popClose:hover{color:#f00;cursor:pointer;}


.event {
  background: url(../img/zhuye/cal_bg.png) top left no-repeat;
  color: #1596e3;
  vertical-align: top;
  width: 50px;
  height:60px;
  line-height: 26px;
  font-weight: 600;
  font-size:12px;
  text-align:center;
  margin-top:2px;
  }


@media(max-width:1024px){
.header .top{
	width:97%;
	margin:0px auto;
	overflow:hidden;
	}
.header .logo{
        width:200px;
	margin-left:20px;
	}
.nav #nav{
	width:100%;
	margin:0px auto;
	list-style:none;
}
.nav_menu .nav li {
	float:left;
	_display:inline;
	z-index:999;
	zoom:1;
}
.nav_menu .nav li a {
	font-size:15px;
	color:#FFF;
	line-height:36px;
	padding:0 20px;
	display:block;
        cursor:pointer;
}
.ok:hover{
        font-size:15px;
	color:#1596e3;
	line-height:36px;
	padding:0 20px;
	display:inline-block;
	background:#fff;
        cursor:pointer;
         }
.nav_menu .nav li a:hover, .nav_menu .nav li a.hover {
    font-size:15px;
	color:#1596e3;
	line-height:36px;
	padding:0 20px;
	display:block;
	background:#fff;
        cursor:pointer;
}
.m_blue{
	width:95%;
	margin:0px auto;
	overflow:hidden;
	}
.friendlink{
	width:auto;
	height:31px;
	overflow:hidden;
	margin-top:7px;
	}
.line{
	width:1px;
	height:100%;
	float:left;
	background:#21aaf5;
	}
.select{
	font-family:"宋体";
	font-size:12px;
	color:#1e3e52;
	width:100px;
	height:19px;
	float:left;
	margin:6px 10px 0 19px;
	background:#c4e5f8;
	border:1px solid #597a8d;
	text-align:center;
	}
.main {
  width: 97%;
  height: auto;
  margin: 0px auto;
  background: #FFF;
  overflow: hidden;
}
.footer table{
        width:100%; 
        margin:0 auto; 
        }
.banner{
      width:100%;
      HEIGHT:259px;
      }
.sliderContainer {
	width:100%;HEIGHT:259px; PADDING: 0px; position:absolute;
}
.rcpy_list img{
        width:93px;
        }
.rcpy {
  width: 100%;
  height: 75px;
  margin: 4px 0 0 5px;
}
.main_left{
	width:830px;
	height:auto;
	overflow:hidden;
	}
.news{
	width:405px;
	height:186px;
	padding:22px 0 0 10px;
	}
.news_nav{
	width:100%;
	height:24px;
	background:url(../img/zhuye/news_nav_bj.gif) left center no-repeat;
	}
.news_nav ul li{
	float:left;
	margin-right:10px;
	}
.main_right{
	width:160px;
	}
.rcpy{
	width:100%;
	height:75px;
	margin:4px 0 0 12px;
	}
.kstd_list ul li{
	margin:15px 8px 0 8px;
	}
}




/*banner底部样式重置*/
.bottomStyle{
	margin: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: right;
	box-sizing: border-box;
	padding-right: 80px;
}

.banner_text {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 24px;
	color: white;
}