body{
	margin:0;
	padding:0;
	font:"宋体"!important;
	font-size: 9pt;
scrollbar-track-color: #f6f6f6; scrollbar-darkshadow-color: #ffffff;
}
.wraper{
margin:10px auto;
border:1px solid #888888;
}
a.menu {
	font-family: "宋体";
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	color:#FFFFFF;
	display:block;
	width:8em;
	margin-left:2px;
	text-align: center;
	padding:6px 0 6px 0;
	float:left;
}
.menuleft {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3em;
	background-image: url(../images/2_02.gif);
	background-repeat: no-repeat;

}


a.menu:hover{
	text-decoration: underline;
	color:#FFFF00;
	background-image: url(../images/bgmenu2.gif);
}
a.menu:visited,a.menu:link,a.menu:active{
	color:#FFFFFF;
}

.content {
	background: url(../images/2_04.gif) no-repeat;
	
}
.lefttop td {
	background-color: #0099FF;
	background-repeat: no-repeat;
	background-position: left top;
	vertical-align: top;
}

/*首页顶部*/
.indextop{
	background-image: url(../images/2.1_01.jpg);
	background-repeat: no-repeat;
}

/*首页顶部菜单*/
a.indexmenu {
	font-family: "宋体";
	font-size: 14px!important;
	font-weight: bold!important;
	text-decoration: none;
	color:#316AC5;
	display:block;
	width:5.7em;
	margin-left:2px;
	text-align: center;
	padding:6px 0 6px 0;
	float:left;
}
.indexbottom {
	background-image: url(../images/2.1_04.jpg);
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;	
}
.indexmenuleft {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 32em;
	background-repeat: no-repeat;

}
a.indexmenu:hover{
	text-decoration: underline;
	color:#FF9933!important;
	
}
a.indexmenu:visited{
		color:#777777;

}

.indexcontent{
	background-image: url(../images/2.1_02.jpg);
	background-repeat: no-repeat;
	
}

a,a:visited{
font:12px normal "宋体";
color:#000000;
text-decoration:none;
}
/*二级导航栏*/
a.leftfont,a.leftfont:hover,a.leftfont:link,a.leftfont:visited {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
	width:9em;
	margin-left:2px;
	text-align: center;
	padding:6px 0 6px 0;
	border: 0px solid #ccc;
}
.leftfont1{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2em;
	}
.STYLE1 {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
	text-align:center;
	color: #000000;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	background-color: #EAEAEA;
}
.leftcol{
	background-image: url(../images/2_03.gif);
	background-repeat: no-repeat;
	text-align:center;
}
.main_articletitle /* 主标题文字颜色定义 */
{
color: ff0000;font-weight:bold;font-size: 18;line-height: 150%;
}
.main_articlesubheading /* 副标题文字颜色定义 */
{
color: 037fa8;font-weight:bold;line-height: 150%;
}

a.test{
color:#0000CC;
}
a.test:hover{
color:#FF6600;}

td.tdtest img{
padding:0 0 10px 0;
} 
td.tdtest{
	border-bottom: 1px #000000;
	border-bottom-style: dotted;

} 
.main_articletitle 
{
	color: ff0000;
	font-weight:bold;
	font-size: 24;
	line-height: 150%;
	font-style: normal;
	padding: 20px;
}
.main_articlesubheading /* 副标题文字颜色定义 */
{
color: 037fa8;
font-weight:bold;
line-height: 150%;
}
.main_tdbg_760 /* 内容表格背景、文字颜色定义(760) */
{
	border: 0px solid #d2d3d9;
	line-height: 200%;
	font-family: "宋体";
	font-size: 12px;
	padding-top: 25;
	padding-right: 18;
	padding-bottom: 10;
	padding-left: 18;
	font-style: normal;
}
.Article_tdbgall{

	padding: 6,45,0,45;
	font-family:"宋体";
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	
}
.menu1 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	background-image: url(../images/2_02.gif);
	color: #FFFFFF;
}
.menu1left {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.rightcol{
	background-image: url(../images/2.1_03.jpg);
	background-repeat: no-repeat;	
}
.ts{
	text-align:center;	
}
a.indexmenu1{
	font-family: "宋体";
	font-size: 12px!important;
	font-weight:normal;
	text-decoration: none;
	color:#000000;
	display:block;
	width:11em;
	margin-left:1px;
	text-align: center;
	padding:6px 0 6px 0;
	float:left;
}
a.indexmenu2{
	font-family: "宋体";
	font-size: 12px!important;
	font-weight:normal;
	text-decoration: none;
	color:#000000;
	display:block;
	width:9em;
	margin-left:1px;
	text-align: center;
	padding:6px 0 6px 0;
	float:left;
}
a.indexmenu3{
	font-family: "宋体";
	font-size: 12px!important;
	font-weight:normal;
	text-decoration: none;
	color:#000000;
	display:block;
	width:6em;
	margin-left:1px;
	text-align: center;
	padding:6px 0 6px 0;
	float:left;
}
.indexmenuleft1{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 26em;
	
}